{%extends 'templates/base.html'%}
{%block title%}About {%endblock%}

{%block content%}
    <h1 style="margin-top: 20px; margin-left: 10px;">
        About
    </h1>
    <div style="margin: 30px;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quasi, iure quas reprehenderit neque quisquam, obcaecati commodi, 
            cumque ut voluptatum doloremque. Quia, eveniet repudiandae? Quod ab quasi cum doloremque dolore sapiente quam, possimus accusamus eius delectus 
            illum odit in corporis recusandae fugiat unde consequatur saepe veritatis 
            rerum doloribus quis nulla ducimus? Quo dicta architecto dignissimos?</p><br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod possimus similique blanditiis dignissimos perspiciatis dolores 
            illum nemo ullam quo! Rerum error, minus, voluptas, earum culpa officiis omnis reiciendis aliquam possimus at cum placeat cumque? 
            Dolorem animi dolore quod excepturi molestiae corrupti et enim pariatur! Aspernatur, modi ipsum ut repudiandae laudantium cum numquam, 
            delectus praesentium provident suscipit, quis quisquam nobis iusto eligendi quaerat. 
            Eaque molestiae pariatur est totam ab! Iure, ipsam.
            <br></p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat velit explicabo, architecto quaerat illo numquam consequuntur, 
            dicta alias eaque praesentium deleniti quisquam dolorem eius dolorum ipsum. Labore sequi, officiis nesciunt exercitationem ipsam recusandae, 
            veritatis cum eius deserunt corporis dolor voluptatibus fuga ducimus magnam animi aliquam? Cumque nihil laudantium pariatur dignissimos nisi natus eum 
            deserunt tempora exercitationem! Blanditiis assumenda placeat repellendus veritatis, ducimus consectetur ratione vero, quod sed aperiam necessitatibus quae cum 
            tenetur ad repellat, totam sapiente ut. Aspernatur, eius ipsa voluptatibus exercitationem vero quo ducimus nostrum! 
            Facere, sed. Nemo eum quasi dicta est ab quo odio dolorum distinctio tempora, sed labore ipsum recusandae amet corrupti 
            blanditiis omnis nulla quas rerum quae et soluta ut eveniet cumque impedit! Eveniet totam ipsam repellat amet minima quae sint sunt, 
            exercitationem voluptate aut ut incidunt doloremque officia obcaecati veritatis ullam rerum itaque tenetur fugit molestiae quis dolore! 
            Sapiente, totam? Commodi aliquid voluptate maxime distinctio!
        </p>
    </div>
{%endblock%}